{%- assign analytics = site.root_beer.analytics -%}
{%- if analytics.google -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics.google }}"></script>
<script>
  window['ga-disable-{{ analytics.google }}'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics.google }}');
</script>
{%- endif -%}