<footer class="grid">

    <div class="s4">
        <!--<p class="link">
        <a href="{{ 'feed.xml' | absolute_url }}">
        <i>rss_feed</i>Subscribe
        </a>
        </p>-->
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="link" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
    </div>
    <div class="s8">
        <p>{{ site.description | escape }}</p>
    </div>

<div class="s12 row middle-align">
    <div class="col s12 social-links">
        {% include social.html %}
    </div>
</div>
</footer>