<nav id="menu" class="menu m l left">
    <a href="/" class="{% if page.url == '/' %}active{% endif %}">
        <i>home</i>
        <div>Home</div>
    </a>
    <a href="{{ site.root_beer.blog_listing_root | relative_path}}" class="{% if page.is_post or page.url contains site.root_beer.blog_listing_root %}active{% endif %}">
        <i>feed</i>
        <div>Blog</div>
    </a>
    {% for collection in site.collections %}
        {% if collection.label == "posts" %}
            {% continue %}
        {% endif %}
        {% assign col_path_pattern = "/" | append: collection.label | append: "/" %}
    <a href="/{{collection.label}}" class="{% if page.url contains col_path_pattern %}active{% endif %}">
        <i>{{collection.icon}}</i>
        <div>{{collection.label_pretty}}</div>
    </a>
    {% endfor %}
    <a id="light_mode">
        <i>light_mode</i>
        <div>Light/Dark</div>
    </a>
</nav>
<nav id="menu-small" class="menu s bottom">
    <a href="/" class="{% if page.url == '/' %}active{% endif %}">
        <i>home</i>
        <div>Home</div>
    </a>
    <a href="{{ site.root_beer.blog_listing_root | relative_path}}" class="{% if page.is_post or page.url contains site.root_beer.blog_listing_root %}active{% endif %}">
        <i>feed</i>
        <div>Blog</div>
    </a>
    {% for collection in site.collections %}
        {% if collection.label == "posts" %}
            {% continue %}
        {% endif %}
        {% assign col_path_pattern = "/" | append: collection.label | append: "/" %}
    <a href="/{{collection.label}}" class="{% if page.url contains col_path_pattern %}active{% endif %}">
        <i>{{collection.icon}}</i>
        <div>{{collection.label_pretty}}</div>
    </a>
    {% endfor %}
</nav>