{%- assign posts_in_series = site.posts | where: "series", page.series | sort -%}

{%- if posts_in_series.size > 1 -%}

<article class="post-series border">
<h5>This post is part of a series</h5>
<h6>{{page.series}}</h6>
<nav class="vertical">

{%- assign ps_counter = 0 -%}
{%- for ps in posts_in_series -%}
{%- assign ps_counter = ps_counter | plus:1 -%}
{%- assign ps_shown = false -%}
{%- if page.id == ps.id-%}
  {%- assign ps_shown = true -%}
{%- endif -%}

<div class="row {% if ps_shown %}border{% endif %}">
  <div class="col">
    <div class="chip circle {% if ps_shown %}fill{% endif %}">{{ps_counter}}</div>
  </div>
  <div class="col max">
    <div><a href="{{ps.url}}" class="link wave">{{ps.title}}</a></div>
    <label>{{ps.description}}</label>
  </div>
</div>
{%- endfor -%}

</nav>
</article>

{%- endif -%}