pre.highlight {
    white-space: pre-wrap;
    overflow-wrap: anywhere; // FIXME: This should be break-word, but container ignore scroll area to calculate when to break.
    max-width: calc(100vw - 2em); // FIXME: Hack until further investigation. Unit test passed but without this overflow happens sometimes on real code
}

// TODO: Discover how make it lines wrapped in an element like div, so CSS line count can be applied.
/*
pre.highlight span {
    counter-increment: line;
}

pre.highlight span:before {
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
}
*/