.post-categories {
    user-select: none;
}
.post-tags {
    user-select: none;
}
.post-header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.post-header {
    margin: 15vw auto;
    z-index: 1;
    //position: absolute;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.post-header .card {
    background-color: var(--color-4a);
}

.post-cover {
    margin: 0 -4vw -100px;
    grid-area: 1 / 1 / 2 / 2;
}

figure.post-cover {
    min-height: 400px;
    max-height: 600px;
}

.post-cover img {
    width: 100%;
    object-fit: cover;
}


.share-post i {
    width: 1em;
    text-align:center;
}
.paginator {
    display: table;
    margin: 0 auto;
    list-style: none;
}
.paginator li {
    float: left;
    margin: 5px 10px 5px 0;
}

@media only screen and (max-width: 600px) {
    .post-header {
        top: 0px;
    }
}