.post-categories {
    user-select: none;
}
.post-tags {
    user-select: none;
}
.post-header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.post-header {
    margin: 2em auto 1em auto;
    z-index: 1;
    //position: absolute;
    grid-area: 1 / 1 / 2 / 2;
}

.post-header .card {
    background-color: var(--color-4a);
}

.post-cover {
    grid-area: 1 / 1 / 2 / 2;
}

figure.post-cover {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    //margin: 0 -50vw -2em -50vw;
}

.post-cover img {
    width: 100%;
    object-fit: cover;
}


.share-post i {
    width: 1em;
    text-align:center;
}
.paginator {
    display: table;
    margin: 0 auto;
    list-style: none;
}
.paginator li {
    float: left;
    margin: 5px 10px 5px 0;
}

@media only screen and (max-width: 600px) {
    .post-header {
        top: 0px;
    }
}

@media only print {
    #share_post {
        display: none;
    }
}

@import 'code_formatting';