html, body {
    
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    padding: 0px 88px;
}

.contact-list {
    list-style-type: none;
}

.container {
    flex: 1 0 auto;
}

.social-media-list {
    display: table;
    margin: 0 auto;
    list-style: none;
}

.social-media-list li {
    float: left;
    margin: 5px 10px 5px 0;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 0px 8px 64px 8px;
        
    }
}

@import 'basic_html';
@import 'beer_overwrites';
@import 'antiheroic';
@import 'post';
@import 'custom-styles';