---
layout: default
---

<div id="antiheroic_container">

  <div id="antiheroic_banner" class="card border">
  </div>

  <div id="antiheroic_content">
      {{content}}
  </div>

  <div id="antiheroic_cards" class="row">
    {% for feature in page.features %}
    <div class="col s4">
      <div class="card no-padding border">
          {% if feature.image %}<img src="{{feature.image | prepend: site.cdn_url}}" class="responsive small">{% endif %}
          <div class="padding">
            <h5 class="no-margin">{{feature.title}}</h5>
            <div>{{feature.description}}</div>
          </div>
        </div>
  </div>
    {% endfor %}
  </div>

  <div id="antiheroic_screenshots">

     <div class="row scroll">
      {% for screenshot in page.screenshots %}
      <img class="small-width small-height" src="{{screenshot.image | prepend: site.cdn_url}}">
      {% endfor %}
    </div>
  </div>

</div>


{% raw %}
<script id="banner-template" type="text/x-handlebars-template">
    <div class="row no-wrap">
      <div class="col">
        <h1 class=>{{title}}</h1>
        <div>{{short_description}}</div>
      </div>
    </div>
</script>
{% endraw %}

<script src="{{ "assets/js/layout/antiheroic.js" | relative_url }}" async></script>