<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        {% if page.robots %}
        <meta name="robots" content="{{page.robots}}">
        {% endif %}

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.css" rel="preload" as="style" integrity="sha384-LLBC0Cd9Bol0iFlXFt7Tf5YTLxfV39BCKGY1xboCGKAnNp1mKUdznhTZsGRQ6rez" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.js" rel="preload" as="script" integrity="sha384-2+mFPHX5WXeauJHtRVZGRqqER1J/eXyaO7GLSZND7kDR6o4yd0g4jxT/I8eBbcQp" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js" rel="preload" as="script" integrity="sha384-6wubSFoe+z01UjlJK36DgWPZpeoQhvaB8JQwV6VgK0I8DQ6b0HA5kjaxkbXEL/3E" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" rel="preload" as="script" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="preload" as="style">

        <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.css" rel="stylesheet" integrity="sha384-LLBC0Cd9Bol0iFlXFt7Tf5YTLxfV39BCKGY1xboCGKAnNp1mKUdznhTZsGRQ6rez" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.js" type="module" integrity="sha384-2+mFPHX5WXeauJHtRVZGRqqER1J/eXyaO7GLSZND7kDR6o4yd0g4jxT/I8eBbcQp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js" type="module" integrity="sha384-6wubSFoe+z01UjlJK36DgWPZpeoQhvaB8JQwV6VgK0I8DQ6b0HA5kjaxkbXEL/3E" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous"></script>
        <script src="{{ "assets/js/layout/default.js" | relative_url }}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

        <link rel="preload" href="{{ '/assets/css/pygments_colorful.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript><link rel="stylesheet" href="{{ '/assets/css/pygments_colorful.css' | relative_url }}" /></noscript>

        {% seo %}
    </head>
    <body>
        {%- assign date_format = site.root_beer.date_format | default: "%b %-d, %Y" -%}
        {% include analytics.html %}
        <div class="responsive">
        {% include navbar.html %}

            <main id="main" class="responsive">

            {{ content }}

            </main>
            
        </div>
        {% include footer.html %}
    </body>
</html>