---
layout: default
---

{{ content }}
{%- assign date_format = site.root_beer.date_format | default: "%b %-d, %Y" -%}
{%- assign latest_posts_limit = site.root_beer.latest_posts_limit | default: 5 -%}
<h2 class="center-align">Latest posts</h2>
{% for post in site.posts limit:latest_posts_limit %}
  <article class="no-padding">
    <div class="grid no-space">
      <div class="s6">
        {%- capture post_cover_image -%}
        {% if post.image.first %}{{post.image.path }}{% else %}{{post.image}}{% endif %}
        {%- endcapture -%}
        {% if post_cover_image != empty %}<img src="{{ post_cover_image | prepend: site.cdn_url | relative_url }}" class="responsive"> {% endif %}
      </div>
      <div class="s6">
        <div class="padding">
          <h5>{{ post.title | truncatewords: 25 }}</h5>
          <div>{{ post.date | date: date_format }}</div>
          <div>{{ post.excerpt }}</div>
          <div class="post-categories">
            {% for category in post.categories %}
            <div class="chip small border round no-wave">{{category}}</div>
            {% endfor  %}
          </div>
          <nav>
            <a href="{{ post.url }}"><button class="">Link</button></a>
          </nav>
        </div>
      </div>
    </div>
  </article>
{% endfor %}

<script type="module">works_done();</script>