---
layout: default
---
{%- assign date_format = site.root_beer.date_format | default: "%b %-d, %Y" -%}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-header-container">
        <header class="post-header">
        <h3 class="center-align card border">{{page.title}}</h3>
        </header>
        <figure class="post-cover">
            {%- capture cover_image -%}
            {% if page.image.first %}{{page.image.path}}{% else %}{{page.image}}{% endif %}
            {%- endcapture -%}
            {% if cover_image != empty %}<img src="{{ cover_image | relative_url }}"> {% endif %}
        </figure>
        
    </div>

        <div class="post-body card" itemprop="articleBody">
            {{ content }}
        </div>

        <div class="small-divider"></div>

        <div class="row post-info">
            <div class="col s12 m12 l3">
                <i>event</i>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: date_format }}
                  </time>
            </div>

            {% if page.categories.size > 0 %}
            <div class="col s12 m4 l3 post-categories">
                <i>list</i>
                {% for category in page.categories %}
                    {{category}}
                {% endfor %}
            </div>
            {% endif %}

            {% if page.tags.size > 0 %}
            <div class="col s12 m8 l6 post-tags">
                <i>tag</i>
                {% for tag in page.tags %}
                    <span class="chip">{{tag}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

</article>

{% include share_post.html %}

<script src="{{ "assets/js/layout/post.js" | relative_url }}" async></script>
