---
layout: default
---

<div class="middle-align center-align">
<nav class="no-space">
    <form action="{{ site.root_beer.search.page | relative_url }}" method="get" class="max" style="display:inline-flex;">
        <div class="max field left-round fill border">
            <input name="query"/>
        </div>
        <button type="submit" class="large right-round"><i class="front">search</i></button>
    </form>
</nav>
</div>

<ul id="search-results">
</ul>

<script src="{{ "assets/js/se/search.js" | relative_url }}" defer></script>

{% raw %}
<script id="result-entry-template" type="text/x-handlebars-template">
    <article class="border">
        <h5><a href="{{ url }}">{{title}}</a></h5>
        <p>{{excerpt}}</p>
    </article>
</script>
<script id="no-results-template" type="text/x-handlebars-template">
    <div>
        <p>No, nothing.</p>
        <p>Here, have a <i>coffee</i></p>
    </div>
</script>
{% endraw %}

{{content}}