---
layout: default
---

<nav>
    <form action="{{ site.root_beer.search.page | relative_url }}" method="get">
        <div class="field prefix left-round fill">
            <input name="query"/>
            <button type="submit" class="circle large no-margin right-round"><i class="front">search</i></button>
        </div>
    </form>
</nav>

<ul id="search-results">
</ul>

<script src="{{ "assets/js/se/search.js" | relative_url }}" defer></script>

{% raw %}
<script id="result-entry-template" type="text/x-handlebars-template">
    <article class="border">
        <h5><a href="{{ url }}">{{title}}</a></h5>
        <p>{{excerpt}}</p>
    </article>
</script>
<script id="no-results-template" type="text/x-handlebars-template">
    <div>
        <p>No, nothing.</p>
        <p>Here, have a <i>coffee</i></p>
    </div>
</script>
{% endraw %}

{{content}}